---
title: About
heading: Our team
subtitle: 'Carey Battle and Bert Speelpenning are both experienced at leading impactful courses by conference telephone calls, having done so since 2003. Both Carey and Bert have several successful careers behind them.  Between them, they’ve been a biologist, high-tech engineer, tax-accountant, business owner and educators. Carey is from Galveston, Texas and has lived in Texas her entire life, though she has traveled to many parts of the world.  Bert is from the Netherlands, has lived in the United States for forty years (including 16 years in Silicon Valley) and has been in Seattle since 1995.  Both have adult kids and grandkids.'
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
